* {
    font-weight: bold;
}

.mainHeader {
    display: flex;
    justify-content: center;
}

.button-set {
    padding: 5px 250px;
    display: flex;
    height: 40px;
    justify-content: space-around;
}

.button-solo {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 2px solid;
}

.total {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.row-set {
    padding: 5px 200px;
    display: flex;
    justify-content: space-around;

}

.number-set {
    width: 50px;
    height: 35px;
    border: 2px solid;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}