<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<style>
    .field-error {
        border-color: red;
        color: red;
    }
</style>
<body>
<h1 class="mainHeader">로또 번호 생성기</h1>
<div>
    <form action="/pull" th:object="${inputNumberDto}" method="post">
        <div class="number-head-div">
            <input type="text" th:field="*{number1}" th:errorclass="field-error" class="input-number-div">
            <input type="text" th:field="*{number2}" th:errorclass="field-error" class="input-number-div">
            <input type="text" th:field="*{number3}" th:errorclass="field-error" class="input-number-div">
            <input class="random-number-div" readonly/>
            <input class="random-number-div" readonly/>
            <input class="random-number-div" readonly/>
        </div>

        <div class="error" th:if="${#fields.errors()}">
            <div class="field-error">
                <div th:errors="*{number1}">1오류</div>
                <div th:errors="*{number2}">2오류</div>
                <div th:errors="*{number3}">3오류</div>
            </div>
        </div>
        <div class="button-set">
            <button class="button-solo" type="submit">뽑기</button>
            <button class="button-solo" type="button" th:onclick="|location.href='@{/list}'|">리스트</button>
        </div>
    </form>
</div>


<div class="pull-number-text">최근 생성번호 5개</div>

<div th:if="${lastFive.size()} == 0">
    <div>숫자를 생성해주세요</div>
</div>

<div th:if="${lastFive.size()} != 0">
    <div th:each="lotto:${lastFive}">
        <div class="row-set">
            <div class="number-set" th:text="${lotto.screenNumber1}"></div>
            <div class="number-set" th:text="${lotto.screenNumber2}"></div>
            <div class="number-set" th:text="${lotto.screenNumber3}"></div>
            <div class="number-set" th:text="${lotto.screenNumber4}"></div>
            <div class="number-set" th:text="${lotto.screenNumber5}"></div>
            <div class="number-set" th:text="${lotto.screenNumber6}"></div>
        </div>
    </div>
</div>
</body>
</html>