<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lotto</title>
    <link href="list.css" rel="stylesheet">
</head>
<body>
<h1 class="mainHeader">로또번호 리스트</h1>

<div class="button-set">
    <button class="button-solo" type="button" th:onclick="|location.href='@{/}'|">생성하러 가기</button>
    <button class="button-solo" type="button" th:onclick="|location.href='@{/clear}'|">리스트 초기화</button>
</div>

<div class="total">
    <div>현재 생성된 총 갯수는 (</div>
    <div th:text="${allStore.size()}">0</div>
    <div>) 개 입니다.</div>
</div>

<div th:each="lotto:${allStore}">
    <div class="row-set">
        <div class="number-set" th:text="${lotto.screenNumber1}"></div>
        <div class="number-set" th:text="${lotto.screenNumber2}"></div>
        <div class="number-set" th:text="${lotto.screenNumber3}"></div>
        <div class="number-set" th:text="${lotto.screenNumber4}"></div>
        <div class="number-set" th:text="${lotto.screenNumber5}"></div>
        <div class="number-set" th:text="${lotto.screenNumber6}"></div>
    </div>
</div>
</body>
</html>